.weather-bg{
    background-image: url(../Weather-app-with-fake-API/image/weather-bg.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
}

input.form-control {
    height: 50px;
}

button.btn.btn-danger {
    width: 130px;
}